<footer>
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <li><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a>Home</li>
                <li><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a>About</li>
                <li><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a>FAQ</li>
                <li><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a>Get Started</li>
                <li><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a></li>

            </div>
        </div>
    </div>
</footer>