{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid my-5">
    <div class="col-md-5 offset-md-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1 class="mb-4">Add new bug</h1>
                <hr class="divider my-4">
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success btn-lg" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}