{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="container-fluid">
    <h1 class="mr-5 mt-4">About us</h1>
    <div class="row  mt-5 h-100">
        <div class="col-md-6 col-sm-12 text-center my-auto">
            <img class="chart " src="/media/charts/pie.png" alt="pie chart">
        </div>
        <div class="col-md-6 col-sm-12 text-center my-auto">
            <h2 class="mt-4">Bugs and Features</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores aperiam nihil ullam earum quae fuga omnis delectus sed! Maiores nam dolore aspernatur neque repellendus veritatis earum praesentium facere? Sit, cupiditate?</p>
        </div>
    </div>

    <div class="row  mt-5 h-100">
        <div class="col-md-6 col-sm-12  text-center my-auto">
            <h2 class="mt-4">Status</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores aperiam nihil ullam earum quae fuga omnis delectus sed! Maiores nam dolore aspernatur neque repellendus veritatis earum praesentium facere? Sit, cupiditate?</p>
        </div>
        <div class="col-md-6 col-sm-12 order-first order-md-last text-center my-auto">
            <img class="chart " src="/media/charts/status.png" alt="statuses">
        </div>
    </div>

    <div class="row  my-5 h-100">
        <div class="col-md-6 col-sm-12 text-center my-auto">
             <img class="chart " src="/media/charts/dates.png" alt="dates">
        </div>
        <div class="col-md-6 col-sm-12 text-center my-auto">
            <h2 class="mt-4">Dates</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores aperiam nihil ullam earum quae fuga omnis delectus sed! Maiores nam dolore aspernatur neque repellendus veritatis earum praesentium facere? Sit, cupiditate?</p>
        </div>
    </div>
</div>
{% endblock content %}