{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container-fluid text-center">
        <h1 class="text-center my-5">Number of features: {{ page_obj.paginator.count }}</h1>
        <div class="row  h-100">
            {% for query in queries %}
            <div class=" col-lg-3 col-sm-6 col-xs-12 my-auto text-center">
                <div class="card my-5 hvr-grow">
                    <img src="{% static 'img/featuresmall.png' %}" class="  card-img text-center" alt="...">
                    <div class="card-body ">
                        <h2>{{ query.title }}</h2>
                        <h5 class="status">Status:<span 
                            {% if query.status == "To do" %}
                                class="badge badge-danger ml-2"
                            {% elif query.status == "In progess" %}
                                class="badge badge-warning ml-1"
                            {% else %}
                                class="badge badge-primary ml-2"
                            {% endif %}
                        >{{ query.status }}</span></h5>
                    </div>
                    <div class="card-bottom text-center">
                        <a href="{% url 'query-detail' query.id %}"
                            class="btn btn-outline-secondary btn-lg ">Details</a>
                        <br><br>
                        <small>Created: {{ query.date_posted|date:"d F, Y" }} by
                            {{ query.author }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %} Pagination {% endcomment %}
        {% if is_paginated %}
        <div class="row ">
            <div class="col-lg-12 text-center mt-5">
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}


 <h1 class="mb-3">Number of features: {{ page_obj.paginator.count }}</h1>
    {% for query in queries %}
        <article class="media content-section">
        <img src="{{ query.author.profile.image.url }}" alt="author image" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-queries' query.author.username %}">{{ query.author }}</a>
            <small class="text-muted">{{ query.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'query-detail' query.id %}">{{ query.title }}</a></h2>
            <p class="article-content">{{ query.content }}</p>
        </div>
        </article>
    {% endfor %}
    <!--Pagination-->
    {% if is_paginated %}
        
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    
    {% endif %}
