{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{% include 'partials/_alerts.html' %}
<section id="showcase">
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-6 col-sm-12 col-xs-12 my-auto">
                <div class="showcase-left text-center">
                    <img src="{% static 'img/bug.webp' %}" alt="bug picture">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 my-auto">
                <div class="showcase-right text-center mt-5">
                    <h1>WE WILL FIX ALL YOUR BUGS</h1>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>

<section id="bugs-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="bugs-left my-5">
                    <h3>BROWSE THROUGH EXISTING BUGS</h3>
                    <a class="btn btn-outline-secondary mt-2" href="{% url 'bugs' %}">BUGS</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="bugs-right my-5">
                    <h3>ADD A NEW BUG</h3>
                    <a class="btn btn-outline-secondary mt-2" href="{% url 'bug-create' %}">ADD</a>
                </div>
                <br>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Our customers said about us:</h2>
            </div>
        </div>
        <br>
        <div class="row ml-5">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="card-customer profile-card-1 customer1 ">
                    <img src="{% static 'img/land1.webp' %}" alt="profile-sample1" class="background" />
                    <img src="{% static 'img/face1.webp' %}" alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2>James Norwood<small>London</small></h2><br><br>
                    </div>
                    <p>"UnicornAttractor should be nominated for service of the year."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="card-customer profile-card-1 customer2">
                    <img src="{% static 'img/land2.webp' %}" alt="profile-sample1" class="background" />
                    <img src="{% static 'img/face2.webp' %}" alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2>Emmily Jones <small>Berlin</small></h2><br><br>
                    </div>
                    <p>"UnicornAttractor has got everything I need."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="card-customer profile-card-1 customer3">
                    <img src="{% static 'img/land4.webp' %}" alt="profile-sample1" class="background" />
                    <img src="{% static 'img/face4.webp' %}" alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2>Steven Wilson<small>London</small></h2><br><br>
                    </div>
                    <p>" The service was excellent. It's exactly what I've been looking for."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="card-customer profile-card-1 customer4">
                    <img src="{% static 'img/land3.webp' %}" alt="profile-sample1" class="background" />
                    <img src="{% static 'img/face3.webp' %}" alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2>Shara Nelson <small>Berlin</small></h2><br><br>
                    </div>
                    <p>"Thanks guys, keep up the good work! "</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center my-auto">
                <div class="info-left mt-5 ml-5">
                    <h1>WE WILL DEVELOP SOPHISTICATED FEATURES FOR YOU</h1>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center my-auto">
                <div class="info-right">
                    <img src="{% static 'img/hand.webp' %}" alt="features picture">
                </div>
                <br>

            </div>
        </div>
    </div>
</section>

<section id="features-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="features-left my-5">
                    <h3>CHECK THE FEATURES WE WORK ON</h3>
                    <a class="btn btn-outline-secondary mt-2" href="{% url 'features' %}">FEATURES</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="features-right my-5">
                    <h3>ADD A NEW FEATURE</h3>
                    {% if request.user.profile.premium %}
                        <a class="btn btn-outline-secondary mt-2" href="{% url 'feature-create' %}">ADD</a>
                    {% elif  request.user.is_authenticated%}
                        <button type="button" class="btn btn-outline-secondary mt-2" data-toggle="modal" data-target="#paymentModal">
                            ADD
                        </button>
                    {% else %}
                         <a class="btn btn-outline-secondary mt-2" href="{% url 'feature-create' %}">ADD</a>
                    {% endif %}
                </div>
                <br>
            </div>
        </div>
    </div>
</section>

<hr>

<section id="contact" style="background-image:url({% static 'img/code3.webp' %}); ">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 col-sm-5">
                <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Name: </label>
                        <input class="form-control" type="text" name="name" aria-label="Name filed" 
                        {% if user.is_authenticated %}
                            value = "{{ user.first_name }} {{ user.last_name }}"
                        {% else %}
                            value = "Enter Name"
                        {% endif %} required>
                    </div>
                    <div class="form-group">
                        <label>Email: </label>
                        <input class="form-control" type="text" name="email" aria-label="Email field"
                        {% if user.is_authenticated %}
                            value = "{{ user.email }}"
                        {% else %}
                            value = "Enter Email"
                        {% endif %} required>
                    </div>
                    <div class="form-group">
                        <label>Message: </label>
                        <textarea class="form-control" name="message" placeholder="Enter Message" aria-label="Text field"></textarea>
                    </div>
                    <div class="form-group">
                        {% if user.is_authenticated %}
                            <input type="hidden" name="user_id" value="{{ user.id }}" label="user id" aria-label="Submit">
                        {% else %}
                            <input type="hidden" name="user_id" value="0" label="user id">
                        {% endif %}
                    </div>
                    <button class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-md-7 col-sm-7">
            </div>
        </div>
    </div>
</section>

<section id="modal">
    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Premium subcrition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Only premium users can add features</h3>
                <hr class="divider my-4">
                <h5 class="text-center mt-4">Become a premium user for only $50.00</h5>
            </div>
            <div class="modal-footer ">
                <form action="{% url 'paid' %}" method="POST">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button " data-key="{{ key }}" data-description="Premium access" data-image='https://i.ibb.co/JnG7Ps3/images.jpg' data-amount="5000" data-email="{{ user.email}}" data-locale="auto">
                    </script>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}z