{% extends 'base.html' %} {% load static %} {% block content %}
<section id="showcase">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="showcase-left">
                    <img src="{% static 'img/bug.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="showcase-right">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner row w-100 ">
                            <div class="carousel-item col-md-4 active">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 1</h4>
                                        <p class="card-text">This is a longer card with supporting text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro, ullam veritatis facere commodi consequuntur necessitatibus! Ratione in aperiam vitae quidem, ducimus
                                            numquam corporis, aut esse deleniti perspiciatis reprehenderit natus! .</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 2</h4>
                                        <p class="card-text">This is a longer card with supporting text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro, ullam veritatis facere commodi consequuntur necessitatibus! Ratione in aperiam vitae quidem, ducimus
                                            numquam corporis, aut esse deleniti perspiciatis reprehenderit natus! .</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 3</h4>
                                        <p class="card-text">This is a longer card with supporting text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro, ullam veritatis facere commodi consequuntur necessitatibus! Ratione in aperiam vitae quidem, ducimus
                                            numquam corporis, aut esse deleniti perspiciatis reprehenderit natus! .</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 4</h4>
                                        <p class="card-text">This is a longer card with supporting text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro, ullam veritatis facere commodi consequuntur necessitatibus! Ratione in aperiam vitae quidem, ducimus
                                            numquam corporis, aut esse deleniti perspiciatis reprehenderit natus! .</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 5</h4>
                                        <p class="card-text">This is a longer card with supporting text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro, ullam veritatis facere commodi consequuntur necessitatibus! Ratione in aperiam vitae quidem, ducimus
                                            numquam corporis, aut esse deleniti perspiciatis reprehenderit natus! .</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 6</h4>
                                        <p class="card-text">This is a longer card with supporting text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro, ullam veritatis facere commodi consequuntur necessitatibus! Ratione in aperiam vitae quidem, ducimus
                                            numquam corporis, aut esse deleniti perspiciatis reprehenderit natus! .</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 7</h4>
                                        <p class="card-text">This is a longer card with supporting text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro, ullam veritatis facere commodi consequuntur necessitatibus! Ratione in aperiam vitae quidem, ducimus
                                            numquam corporis, aut esse deleniti perspiciatis reprehenderit natus! .</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-center mt-4">
                                    <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                                        <i class="fa fa-lg fa-chevron-left"></i>
                                    </a>
                                    <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                                        <i class="fa fa-lg fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, quisquam eius? Cumque doloribus mollitia quas suscipit! Amet dolore veritatis voluptatibus quaerat facilis praesentium blanditiis mollitia id illo, atque nesciunt impedit.</p>
        <p class="customer">Jhon Doe</p>
    </div>
</section>

<section id="info1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 com-sm-6">
                <div class="info-left">
                    <img src="{% static 'img/image2.png' %}" alt=" ">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="info-right">
                    <h2>Hands free</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eum animi minus repellat accusantium iusto consectetur aspernatur molestiae, alias, ratione cum quidem voluptate natus cupiditate assumenda corporis accusamus. Adipisci,
                        dicta.
                    </p>
                </div>
                <br>
                <a class="btn btn-outline-secondary btn-lg showcase-btn">Read more</a>
            </div>
        </div>
    </div>
</section>
<hr>
<section id="info2">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 com-sm-6">
                <div class="info-left">
                    <h2>Info Block One</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eum animi minus repellat accusantium iusto consectetur aspernatur molestiae, alias, ratione cum quidem voluptate natus cupiditate assumenda corporis accusamus. Adipisci,
                        dicta.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="info-right ">
                    <h2>Info Block Two</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eum animi minus repellat accusantium iusto consectetur aspernatur molestiae, alias, ratione cum quidem voluptate natus cupiditate assumenda corporis accusamus. Adipisci,
                        dicta.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="contact" style="background-image:url({% static 'img/image3.png' %})">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 col-sm-5">
                <form>
                    <div class="form-group">
                        <label>Name: </label>
                        <input class="form-control" type="text" name=" " value=" " placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label>Email: </label>
                        <input class="form-control" type="text" name=" " value=" " placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>Message: </label>
                        <textarea class="form-control" name=" " value=" " placeholder="Enter Message "></textarea>
                    </div>
                    <button class="btn btn-default">Submit</button>
                </form>
            </div>

            <div class="col-md-7 col-sm-7">

            </div>
        </div>
    </div>
</section>
{% endblock content %}

<div class="container">
    <section id="showcase-inner" class="showcase-search text-white py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" class="form-control" placeholder="Keyword">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Type</label>
                                <select name="query_type" class="form-control">
                    <option selected="true" disabled="disabled">Type</option>
                    {% for key, value in query_types.items %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    </select>
                            </div>
                        </div>
                </div>
                <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                </form>
            </div>
        </div>
</div>
</section>
</div>
<div class="container">
    {% for query in queries %}
    <article class="media content-section">
        <img src="{{ query.author.profile.image.url }}" alt="author image" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-queries' query.author.username %}">{{ query.author }}</a>
                <small class="text-muted">{{ query.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'query-detail' query.id %}">{{ query.title }}</a></h2>
            <p class="article-content">{{ query.content }}</p>
        </div>
    </article>
    {% endfor %}
    <!--Pagination-->
    {% if is_paginated %} {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a> {% endif %} {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a> {% elif num > page_obj.number|add:'-3' and num
    < page_obj.number|add: '3'%} <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> {% endif %} {% endif %}
</div>
<div>
    <h2>Buy for $50.00</h2>
    <form action="{% url 'paid' %}" method="POST">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="Features access" data-image='https://i.ibb.co/JnG7Ps3/images.jpg' data-amount="5000" data-email="{{ user.email}}" data-locale="auto">
        </script>
    </form>
    {% if request.user.profile.has_paid %}
    <h1>Paid</h1>
    {% endif %}

</div>