{% extends 'base.html' %} {% load static %} {% block content %}
<section id="showcase">
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-6 col-sm-12 col-xs-12 my-auto">
                <div class="showcase-left text-center">
                    <img src="{% static 'img/bug.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 my-auto">
                <div class="showcase-right text-center mt-5">
                    <h1>WE WILL FIX ALL YOUR BUGS</h1>
                    <a class="btn btn-outline-secondary btn-lg showcase-btn ">Read more</a>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>

<section id="testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Our customers said about us:</h2>
            </div>
        </div>
        <br>
        <div class="row ml-5">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="card-customer profile-card-1 customer1 ">
                    <img src="{% static 'img/land1.jpeg' %}" alt="profile-sample1" class="background" />
                    <img src="{% static 'img/face1.jpg' %}" alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2>James Norwood<small>London</small></h2><br><br>
                    </div>
                    <p>"UnicornAttractor should be nominated for service of the year."</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="card-customer profile-card-1 customer2">
                    <img src="{% static 'img/land2.jpeg' %}" alt="profile-sample1" class="background" />
                    <img src="{% static 'img/face2.jpg' %}" alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2>Emmily Jones <small>Berlin</small></h2><br><br>
                    </div>
                    <p>"UnicornAttractor has got everything I need."</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="card-customer profile-card-1 customer3">
                    <img src="{% static 'img/land4.jpeg' %}" alt="profile-sample1" class="background" />
                    <img src="{% static 'img/face4.jpg' %}" alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2>Steven Wilson<small>London</small></h2><br><br>
                    </div>
                    <p>" The service was excellent. It's exactly what I've been looking for."</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="card-customer profile-card-1 customer4">
                    <img src="{% static 'img/land3.jpeg' %}" alt="profile-sample1" class="background" />
                    <img src="{% static 'img/face3.jpg' %}" alt="profile-image" class="profile" />
                    <div class="card-content">
                        <h2>Shara Nelson <small>Berlin</small></h2><br><br>
                    </div>
                    <p>"Thanks guys, keep up the good work! "</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="info1">
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center my-auto">
                <div class="info-left mt-5">
                    <h1>WE WILL DEVELOP SOPHISTICATED FEATURES FOR YOU</h1>
                    <a class="btn btn-outline-secondary btn-lg showcase-btn">Read more</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center my-auto">
                <div class="info-right">
                    <img src="{% static 'img/hand.png' %}" alt=" ">
                </div>
                <br>

            </div>
        </div>
    </div>
</section>
<hr>


<section id="contact" style="background-image:url({% static 'img/code3.png' %}); ">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 col-sm-5">
                <form>
                    <div class="form-group">
                        <label>Name: </label>
                        <input class="form-control" type="text" name=" " value=" " placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label>Email: </label>
                        <input class="form-control" type="text" name=" " value=" " placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>Message: </label>
                        <textarea class="form-control" name=" " value=" " placeholder="Enter Message "></textarea>
                    </div>
                    <button class="btn btn-default">Submit</button>
                </form>
            </div>

            <div class="col-md-7 col-sm-7">

            </div>
        </div>
    </div>
</section>
{% endblock content %}