{% extends 'base.html' %}
{% block content %}
        <div class="container fill ">
        <div class="row">
            <div class="card col-md-6 offset-md-3 vh-middle text-center">
                <h4 class="card-header">Thank you</h4>
                <div class="card-body">
                    <p>Yor premium access will be activated soon.</p>
                    <h5 class="card-title"><a href="{% url 'home' %}">Homepage</a></h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}