{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="conteiner-fluid mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ query.query_type }}</h1>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 mb-5 ">
                        <div>
                            <h2 class="mb-4">Created by:</h2>
                            <img src="{{ query.author.profile.image.url }}" alt="author image" class="rounded-circle author-img">
                            <a class="display-4" href="{% url 'user-queries' query.author.username %}">{{ query.author }}</a>
                        </div>
                    </div>
                    {% if query.author == user %}
                        <div class="col-md-6 mt-2">
                            <a class="btn btn-outline-secondary btn-lg float-right " href="{% url 'query-update' query.id %}">Update</a>
                            <a class="btn btn-outline-danger btn-lg mr-2 float-right " href="{% url 'query-delete' query.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <h1>{{ query.title }}<span 
                    {% if query.status == "To do" %}
                        class="badge badge-danger ml-2"
                    {% elif query.status == "In progess" %}
                        class="badge badge-warning ml-2"
                    {% else %}
                        class="badge badge-primary ml-2"
                    {% endif %}
                    >{{ query.status }}</span>
                </h1>
                <h3 class="mt-4">Description: </h3>
                    <p class="lead">{{ query.content }}</p>
                    <p>Created: {{ query.date_posted|date:"d F, Y" }}</p>
                    <p class="float-right">Total views: {{ query.views}}</p>
                    <p>Like{{ total_likes|pluralize}}: {{ total_likes }}</p>   
                        {% if request.user.is_authenticated %}
                            <form action="{% url 'like_query' %}" method="POST">
                                {% csrf_token %} {% if is_liked %}
                                <button type="submit" name='query_id' value={{ query.id}} class="btn btn-outline-danger btn-lg ">Dislike</button> {% else %}
                                <button type="submit" name='query_id' value={{ query.id}} class="btn btn-outline-primary btn-lg">Like</button> {% endif %}
                            </form>
                        {% endif %}
                <hr class="divider">
        
                <form class="col-md-8 offset-md-2" method='POST'>
                    {% csrf_token %} 
                    {{ comment_form|crispy}} 
                        {% if request.user.is_authenticated %}
                            <input type="submit" value="submit" class='btn btn-outline-success btn-lg'> 
                        {% else %}
                            <input type="submit" value="submit" class='btn btn-outline-success btn-lg' disabled> 
                        {% endif %}
                </form>

                {% if comments %}
                    <p class="text-center">{{ comments.count }} Comment{{ comments|pluralize}}</p> 
                        {% for comment in comments %}
                            <div class="form-group col-md-8 offset-md-2">
                                <div class="card">
                                    <div class="card-header">
                                        {{ comment.timestamp|date:'H:i, d-m-Y ' }}
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <p>{{ comment.content}}</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">by {{ comment.user|capfirst }}</cite></footer>
                                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %} 
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
