{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="search">
    <div class="container">
        <div id="showcase-inner" class="showcase-search text-white py-5">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <form action="{% url 'search' %}">
                        <div class="form-row">
                            <div class="col-md-6 offset-md-3 mb-3 flex">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" class="form-control" placeholder="Keyword" label="keywords">
                             <button class="btn btn-info" type="submit">Search</button>

                            </div>
                        </div>
                    </div>
                   
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid text-center">
        <h1 class="text-center my-5">Search results:</h1>
        <div class="row  h-100">
            {% for query in queries %}
            <div class=" col-lg-3 col-sm-6 col-xs-12 my-auto text-center">
                <div class="card card-query my-5 hvr-grow">
                    <img
                        {% if query.query_type == "Feature" %}
                            src="{% static 'img/featuresmall.webp' %}" class="  card-img text-center" alt="feature icon"
                        {% else %}
                            src="{% static 'img/bugsmall.webp' %}" class="  card-img text-center" alt="bug icon"
                        {% endif %} 
                    >
                    <div class="card-body ">
                        <h2>{{ query.title }}</h2>
                        <h5 class="status">Status:<span 
                            {% if query.status == "To do" %}
                                class="badge badge-danger ml-2"
                            {% elif query.status == "In progess" %}
                                class="badge badge-warning ml-1"
                            {% else %}
                                class="badge badge-primary ml-2"
                            {% endif %}
                        >{{ query.status }}</span></h5>
                    </div>
                    <div class="card-bottom card-query-bottom text-center">
                        <a href="{% url 'query-detail' query.id %}"
                            class="btn btn-outline-secondary btn-lg ">Details</a>
                        <br><br>
                        <small>Created: {{ query.date_posted|date:"d F, Y" }} by
                            {{ query.author }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}

