{% extends 'base.html' %}
{% block content %}
<div class="container">
    <section id="showcase-inner" class="showcase-search text-white py-5">
        <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
            <form action="{% url 'search' %}">
                <!-- Form Row 1 -->
                <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="sr-only">Keywords</label>
                    <input type="text" name="keywords" class="form-control" placeholder="Keyword" value="{{ values.keywords }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="sr-only">Type</label>
                    <select name="query_type" class="form-control">
                    <option selected="true" disabled="disabled">Type</option>
                    {% for key, value in query_types.items  %}
                        <option value="{{ key }}"
                        {% if key == values.query_type %}
                            selected
                        {% endif %}
                        >{{ value }}</option>
                    {% endfor %}
                    </select>
                </div>
                </div>
                </div>
                <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
            </div>
        </div>
        </div>
    </section>
</div>
<div class="container">
{% if queries %}
    {% for query in queries %}
        <article class="media content-section">
        <img src="{{ query.author.profile.image.url }}" alt="author image" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-queries' query.author.username %}">{{ query.author }}</a>
            <small class="text-muted">{{ query.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'query-detail' query.id %}">{{ query.title }}</a></h2>
            <p class="article-content">{{ query.content }}</p>
        </div>
        </article>
    {% endfor %}
{% endif %}
</div>
{% endblock content %}