{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="search">
    <div class="container mt-5">
        <div class="row">
                <div class="col-md-6 ">
                <form action="{% url 'search' %}">
                    <div class="flex">
                        <label class="sr-only">Keywords</label>
                        <input type="text" name="keywords" class="form-control" placeholder="Keyword" aria-label="keywords">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </form>
                </div>
                <div class="col-md-3  offset-md-1 sort">
                <form action="{% url 'features' %}">
                    <div class="flex">
                        <label class="sr-only">Sort by</label>
                        <select name="sort" class="form-control" aria-label="sort by">
                            <option selected="true" disabled="disabled">Sort by</option>
                            {% for key,value in sort_choices.items %}
                            <option value="{{ key }}">{{value}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-info" type="submit">Sort</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid text-center">
        <div class="row h-100">
            <div class="col-md-12">
                <div class="mt-5">
                    <h1 class="text-center">Number of features: {{ queries.paginator.count }}</h1><span>
                    {% if request.user.profile.premium %}
                        <a class="btn btn-outline-secondary mt-3 " href="{% url 'feature-create' %}">ADD NEW ONE</a>
                    {% elif  request.user.is_authenticated%}
                        <button type="button" class="btn btn-outline-secondary mt-3 " data-toggle="modal" data-target="#paymentModal">
                            ADD NEW ONE
                        </button>
                    {% else %}
                            <a class="btn btn-outline-secondary mt-3 " href="{% url 'feature-create' %}">ADD NEW ONE</a>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <div class="row  h-100">
            {% for query in queries %}
            <div class=" col-lg-3 col-sm-6 col-xs-12 my-auto text-center">
                <div class="card card-query my-5 hvr-grow">
                    <img src="{% static 'img/featuresmall.webp' %}" class="  card-img text-center" alt="card image">
                    <div class="card-body ">
                        <h2>{{ query.title }}</h2>
                        <h5 class="status">Status:<span 
                            {% if query.status == "To do" %}
                                class="badge badge-danger ml-2"
                            {% elif query.status == "In progess" %}
                                class="badge badge-warning ml-1"
                            {% else %}
                                class="badge badge-primary ml-2"
                            {% endif %}
                        >{{ query.status }}</span></h5>
                    </div>
                    <div class="card-bottom card-query-bottom text-center">
                        <a href="{% url 'query-detail' query.id %}"
                            class="btn btn-outline-secondary btn-lg ">Details</a>
                        <br><br>
                        <small>Created: {{ query.date_posted|date:"d F, Y" }} by
                            {{ query.author }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
   <!--Pagination-->
        {% if queries.has_other_pages %}
        <div class="row ">
            <div class="col-lg-12 text-center mt-5">
                {% if queries.has_previous %}
                <a class="btn btn-outline-secondary mb-4" href="?page=1&sort={{sort}}">First</a>
                <a class="btn btn-outline-secondary mb-4" href="?page={{ queries.previous_page_number }}&sort={{sort}}">Previous</a>
                {% endif %}

                {% for num in queries.paginator.page_range %}
                {% if queries.number == num %}
                <a class="btn btn-secondary mb-4" href="?page={{ num }}&sort={{sort}}">{{ num }}</a>
                {% elif num > queries.number|add:'-3' and num < queries.number|add:'3'%}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}&sort={{sort}}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if queries.has_next %}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ queries.next_page_number }}&sort={{sort}}">Next</a>
                <a class="btn btn-outline-secondary mb-4" href="?page={{ queries.paginator.num_pages }}&sort={{sort}}">Last</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</section>

<section id="modal">
    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Premium subcrition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Only premium users can add features</h3>
                <hr class="divider my-4">
                <h5 class="text-center mt-4">Become a premium user for only $50.00</h5>
            </div>
            <div class="modal-footer ">
                <form action="{% url 'paid' %}" method="POST">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button " data-key="{{ key }}" data-description="Premium access" data-image='https://i.ibb.co/JnG7Ps3/images.jpg' data-amount="5000" data-email="{{ user.email}}" data-locale="auto">
                    </script>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

