* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #fafafa;
  color: #333333;
  font-size: 16px; }

/* Frontpage */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins; }

p {
  font-family: Roboto; }

.bg-light {
  background: #fff;
  border: 0;
  font-family: Poppins; }

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: 600; }

#showcase h1,
.info-left h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center; }

#showcase img {
  margin-top: 60px;
  width: 60%; }

.info-right img {
  width: 50%; }

#showcase .showcase-right {
  margin-top: 110px; }

#testimonials {
  background: #f1f1f1;
  padding: 60px 0;
  text-align: center; }

#info1 .info-right {
  margin-top: 90px; }

#contact {
  padding: 40px;
  color: #fff;
  border-top: #333 7px solid;
  border-bottom: #333 7px solid; }

.card-img {
  height: 125px;
  width: 125px;
  margin: 0 auto; }

.card {
  border: 7px solid #665e5e;
  border-radius: 1.25rem;
  padding: 30px;
  width: 20rem;
  height: 500px;
  margin: 0 auto;
  float: none; }

.btn-outline-secondary {
  color: #0b1926; }

.nav-item {
  font-size: 1.5rem; }

/*Customers*/
.profile-card-1 {
  font-family: Poppins, Arial, sans-serif;
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 400px;
  width: 80%;
  border: none;
  margin-top: 20px; }

.profile-card-1 .background {
  width: 100%;
  height: 100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.8);
  transform: scale(2.8); }

.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 40%; }

.card-customer p {
  top: -125px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-size: 20px;
  position: relative; }

.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  top: 40px; }

.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
  color: #fff; }

.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px; }

.profile-card-1 i {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px; }

.profile-card-1 .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px; }

.profile-card-1 .icon-block a {
  text-decoration: none; }

/* Bugs */
/* Footer */
footer p {
  color: #999999;
  line-height: 25px; }

footer h2,
h3 {
  color: #fff; }

footer h2 {
  font-size: 18; }

.footer-top {
  background: #111;
  padding: 50px 0; }

.segment-one h3 {
  font-family: Courgette;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0; }

.segment-two h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase; }

.segment-two h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px; }

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.segment-two a {
  text-decoration: none;
  color: #494848; }

.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px; }

.segment-three h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase; }

.segment-three h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px; }

.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%; }

.segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 12px; }

.segment-four h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase; }

.segment-four h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px; }

.segment-four form input[type=submit] {
  background: #c65039;
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color: #fff;
  text-transform: uppercase; }

.flex {
  display: flex;
  flex-direction: row; }

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 75px; }

/*Different scrren sizes */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .md-mb-30 {
    margin-bottom: 30px; } }
@media only screen and (max-width: 768px) {
  .sm-mb-30 {
    margin-bottom: 30px; }

  .footer-top {
    padding: 50px 0; } }

/*# sourceMappingURL=main.css.map */
