{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container fill">
        <div class="col-md-6 offset-md-3 vh-middle">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <h1 class="mb-4">Resset Password</h1>
                    <hr class="divider my-4">
                    {{ form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-lg" type="submit">Request Password</button>
                </div>
            </form>
            </div>
        </div>
    </div>    
{% endblock content %}

