{% extends "base.html" %}
{% block content %}
  <div class="container fill ">
        <div class="row">
            <div class="card col-md-6 offset-md-3 vh-middle text-center">
                <h4 class="card-header">Thank you</h4>
                <div class="card-body">
                    <h5 class="card-title">An email has been sent with instrucitons to reset your password</h5>
                    <br>
                    <p><a href="{% url 'home' %}">Return to homepage</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info">
        An email has been sent with instrucitons to reset your password
    </div>
{% endblock content %}
